*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #a5f3fc;
}
.library{
    padding: 16px;
    background-color: #99f6e4;
}
.library h1{
    text-align: center;
    font-size: 42px;
    text-decoration: underline;
    margin: 1px 0;
    color: #701a75;
}
.container{
    border-style: groove;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: .1fr;
    min-height: 100vh;
    text-align: center;
}
.form-heading, .books-heading{
    border-style: groove;
    padding: 10px;
}
.form{
    border-style: groove;
   
}
.books .card{
    background-color: #ffffff;
    color: black;
    text-align: center;
    height: 350px;
    display: grid;
    
    
}
.books{
    background-color: #bccbde;
    border-style: groove;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-column: 2/3;
    gap: 15px;
    padding: 15px;
}
.card{
    border-radius: 8px;
    padding: 10px;
   
}
.card p{
    padding: 10px;
    font-size: 28px;
    /* background-color: #701a75; */
}

#add-book{
    display: grid;
    grid-template-columns: .1fr 1fr ;
    gap: 10px;
    margin: 50px;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}
#add-book input{
    font-size: 28px;
}

option{
    font-size: 28px;
}
select#Read{
    font-size: 28px;
}

.resetBtn{
    margin-left: 20px;
}
.add-book-btn{
    margin-top: 20px;
}
.submitBtn, .resetBtn, .add-book-btn{
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 3px black;
    cursor: pointer;
    font-size: 20px;
}


.remove-book-button{
    grid-row: 5/6;
    font-weight: 900;
    background-color: #ef4444;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
}
.remove-book-button:hover{
    background-color: #991b1b;
}
.read-status-btn{
    grid-row: 6/7;
    margin-top: 10px;
    font-weight: 900;
    background-color: #4d7c0f;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
}
.read-status-btn:hover{
    background-color: #4ade80;
}